# NGC 5
- by @Radenaz
- Niko A. Hakam

```sql
CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    customer_name VARCHAR(50),
    city VARCHAR(50)
);

CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INT,
	order_date DATE,
    total_amount DECIMAL(100, 2),
	FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);


SELECT * FROM customers;
SELECT * FROM orders;

INSERT INTO customers (customer_id, customer_name, city) 
VALUES
	(1, 'John Doe', 'New York'),
	(2, 'Jane Smith', 'Los Angeles'),
	(3, 'David Johnson', 'Chicago');


INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES
	(1, 1, '2022-01-10', 100),
	(2, 1, '2022-02-15', 150),
	(3, 2, '2022-03-20', 200),
	(4, 3, '2022-04-25', 50);


SELECT customers.customer_name, COUNT(orders.order_id) AS total_orders
FROM customers
JOIN orders on customers.customer_id = orders.customer_id
GROUP BY customers.customer_name;
```

![alt text](basic_data_wrang_ss.png)